body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
}

.platform--windows ::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

.platform--windows ::-webkit-scrollbar-track {
  background-color: transparent;
}

.platform--windows ::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 3px;
}

*:focus {
  outline: none;
}

.markdown-body {
  ul,
  ol {
    list-style: initial;
  }
}

.panel-shadow {
  position: relative;
  border-radius: 0.5rem;

  &::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }
}

.card-shadow-subtle {
  box-shadow:
    0 0 3px 1px #0001,
    0 2px 3px #0001;

  &.bp4-interactive:hover {
    box-shadow:
      0 2px 4px #0002,
      0 8px 24px #0003;
  }

  .dark & {
    box-shadow: 0 0px 3px #fff9;
  }
}

.bg-rainbow {
  background: linear-gradient(
    90deg,
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(0, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(0, 100%, 50%)
  );
  background-size: 200% 100%;
  animation: rainbow 4s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}
