body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: rgb(250, 250, 250);
}

.platform--windows ::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

.platform--windows ::-webkit-scrollbar-track {
  background-color: transparent;
}

.platform--windows ::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 3px;
}

*:focus {
  outline: none;
}

.markdown-body {
  ul,
  ol {
    list-style: initial;
  }
}



.card-container {
  height: 72px;
  aspect-ratio: 5 / 1;
}

.group-card-container{
  width: auto;
}

.EditorActionAdd-container{
  position: relative;
  overflow-y: auto;
  height: 100vh;
}
.EditorActionAdd-element {
  position: sticky;
  bottom: 0;
  left: 0;
}

.action-list-container{
  height: 100vh;
  overflow-y: auto;
}
